ion-card {
	cursor: pointer;
}

h4 {
	line-height: 0;
	font-weight: 800;
	padding-left: 5%;
	font-size: 1em;
	text-transform: capitalize;
}

.category-active {
	color: var(--ion-color-app);
}

ion-slide div {
	width: 100%;
	cursor: pointer;
}
