// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
	/*  */
	--ion-color-app: #2db89c;
	--ion-color-app-rgb: 45, 184, 156;
	/*  */
	--ion-color-facebook: #4267b2;
	--ion-color-facebook-rgb: 66, 103, 178;
	/*  */
	--ion-color-instagram: #eb4d4f;
	--ion-color-instagram-rgb: 235, 77, 79;
	/*  */
	.light-theme {
		/*  */
		--ion-color-background: #f8f8f8;
		--ion-color-background-rgb: 248, 248, 248;
		--ion-color-background-medium: #dadada;
		--ion-color-background-medium-rgb: 218, 218, 218;
		--ion-color-background-soft: #eeeeee;
		--ion-color-background-soft-rgb: 238, 238, 238;
		/*  */
		--ion-color-text: #5d5c61;
		--ion-color-text-rgb: 93, 92, 97;
		--ion-color-text-medium: #96959a;
		--ion-color-text-medium-rgb: 109, 108, 113;
		--ion-color-text-soft: #7c7b81;
		--ion-color-text-soft-rgb: 145, 145, 145;
		/* 
        Assignments 
        */
		--ion-background-color: var(--ion-color-background);
		--ion-text-color: var(--ion-color-text);
	}
	.dark-theme {
		/*  */
		--ion-color-background: #0f1012;
		--ion-color-background-rgb: 30, 32, 37;
		--ion-color-background-medium: #444245;
		--ion-color-background-medium-rgb: 68, 66, 69;
		--ion-color-background-soft: #2a2c30;
		--ion-color-background-soft-rgb: 42, 44, 48;
		/*  */
		--ion-color-text: #c1c1c1;
		--ion-color-text-rgb: 193, 193, 193;
		--ion-color-text-medium: #c7c7c7;
		--ion-color-text-medium-rgb: 199, 199, 199;
		--ion-color-text-soft: #919191;
		--ion-color-text-soft-rgb: 145, 145, 145;
		/* 
        Assignments 
        */
		--ion-background-color: var(--ion-color-background);
		--ion-text-color: var(--ion-color-text);
	}
}

.ion-color-app {
	--ion-color-base: var(--ion-color-app) !important;
	--ion-color-base-rgb: var(--ion-color-app-rgb) !important;
}

.ion-color-background {
	--ion-color-base: var(--ion-color-background) !important;
	--ion-color-base-rgb: var(--ion-color-background-rgb) !important;
}

.ion-color-background-medium {
	--ion-color-base: var(--ion-color-background-medium) !important;
	--ion-color-base-rgb: var(--ion-color-background-medium-rgb) !important;
}

.ion-color-background-soft {
	--ion-color-base: var(--ion-color-background-soft) !important;
	--ion-color-base-rgb: var(--ion-color-background-soft-rgb) !important;
}

.ion-color-text {
	--ion-color-base: var(--ion-color-text) !important;
	--ion-color-base-rgb: var(--ion-color-text-rgb) !important;
}

.ion-color-text-medium {
	--ion-color-base: var(--ion-color-text-medium) !important;
	--ion-color-base-rgb: var(--ion-color-text-medium-rgb) !important;
}

.ion-color-text-soft {
	--ion-color-base: var(--ion-color-text-soft) !important;
	--ion-color-base-rgb: var(--ion-color-text-soft-rgb) !important;
}

.ion-color-facebook {
	--ion-color-base: var(--ion-color-facebook) !important;
	--ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
}

.ion-color-fauvorite {
	--ion-color-base: var(--ion-color-fauvorite) !important;
	--ion-color-base-rgb: var(--ion-color-fauvorite-rgb) !important;
}

/* 
    Color Classes 
*/

.text-color {
	color: var(--ion-text-color);
}

.facebook-color ion-icon {
	color: var(--ion-color-facebook) !important;
}

.instagram-color ion-icon {
	color: var(--ion-color-instagram) !important;
}
