<ion-header no-border>
	<app-header backButtonUrl="home"></app-header>
</ion-header>

<ion-content>
	<super-tabs>
		<super-tabs-toolbar slot="top" color="background" no-border>
			<super-tab-button>
				<ion-label>Galería</ion-label>
			</super-tab-button>

			<super-tab-button>
				<ion-label>Planes</ion-label>
			</super-tab-button>

			<super-tab-button>
				<ion-label>Detalles</ion-label>
			</super-tab-button>
		</super-tabs-toolbar>

		<super-tabs-container swipeEnabled="false">
			<super-tab>
				<ion-content>
					<app-gallery [studio]="studio"></app-gallery>
				</ion-content>
			</super-tab>

			<super-tab>
				<ion-content>
					<app-plans></app-plans>
				</ion-content>
			</super-tab>

			<super-tab>
				<ion-content>
					<app-details [studio]="studio"></app-details>
				</ion-content>
			</super-tab>
		</super-tabs-container>
	</super-tabs>
</ion-content>
