<ion-header #header no-border hidenav-header>
	<app-header backButtonUrl="home"></app-header>
</ion-header>

<ion-content hidenav-content>
	<ion-grid class="ion-padding">
		<ion-row class="ion-justify-content-end">
			<ion-col size="auto">
				<ion-button shape="round" class="round" color="text-medium">
					Planes
				</ion-button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="10">
				<h1>
					{{ studio.title }}
				</h1>
			</ion-col>
		</ion-row>

		<ion-row #imageContainer>
			<div
				class="image-fit"
				[style.height.px]="setImageHeight(imageContainer, studio)"
				[style.backgroundImage]="studio.img | imageUrlToBase64 | async"
			></div>
		</ion-row>
	</ion-grid>

	<app-categories [categories]="categories"></app-categories>

	<app-gallery></app-gallery>
</ion-content>
