<ion-grid class="ion-padding">
	<!-- <ion-row class="ion-justify-content-end">
		<ion-col size="auto">
			<ion-button shape="round" class="round" color="text-medium">
				Planes
			</ion-button>
		</ion-col>
	</ion-row> -->

	<ion-row>
		<ion-col size="10">
			<h1>
				{{ studio.title }}
			</h1>
		</ion-col>
	</ion-row>

	<ion-row #imageContainer>
		<div
			class="image-fit"
			[style.height.px]="setImageHeight(imageContainer, studio)"
			[style.backgroundImage]="studio.img | imageUrlToBase64 | async"
		></div>
	</ion-row>
</ion-grid>

<app-categories [categories]="categories"></app-categories>

<ion-grid class="ion-padding gallery-container">
	<ion-row>
		<ion-col
			size="6"
			#imageGalleryContainer
			*ngFor="let columns of photoGallery | imageGallery"
		>
			<div
				*ngFor="let photo of columns"
				class="image-fit"
				(click)="gallery(photo)"
				[style.height.px]="setImageHeight(imageGalleryContainer, photo)"
				[style.backgroundImage]="photo.img | imageUrlToBase64 | async"
			></div>
		</ion-col>
	</ion-row>
</ion-grid>
